<ion-header>
    <ion-toolbar>
        <ion-row>
            <ion-col size="2">
                <ion-button class="backbutton" color="success">
                    <ion-back-button class="backbutton"></ion-back-button>
                </ion-button>
            </ion-col>
            <ion-col size="2.5"></ion-col>
            <ion-col size="auto">
                <img alt="logo" class="header" src="assets/icon/logo.jpg">
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-title>Profil de {{customer.CT_Intitule}}</ion-title>
    <ion-grid>
        <ion-row>
            <ion-avatar (click)="setAvatar()">
                <ng-container *ngIf="customer.avatar != undefined; else emptyImage">
                    <img class="image" [src]="customer.avatar" alt="avatar">
                </ng-container>
                <ng-template #emptyImage><img src="assets/icon/logo-default.png" alt="not found"/></ng-template>
            </ion-avatar>
            <ion-button (click)="setAvatar()">Changer ma photo de profil</ion-button>
        </ion-row>
        <ion-row>
            <ion-col>
                <br/>
                <p><strong>{{customer.CT_Intitule}}</strong></p>
                <p>{{customer.CT_Adresse}}</p>
                <p>{{customer.CT_Ville}}, {{customer.CT_CodePostal}}</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button (click)="alertConfirm()" color="danger">
                    Supprimer le compte de l'appareil
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>