<app-header></app-header>
<ion-content>
    <ion-searchbar (ionChange)="getArticleSearched($event)" animated class="searchbar"
                   debounce="500" placeholder="Rechercher..." showCancelButton="focus"></ion-searchbar>

    <div *ngIf="errorBol" class="red">{{error}}
        <ion-button (click)="doRefresh()"
                    color="warning"
                    expand="full"
                    fill="solid"
        >
            Cliquez pour recharger la liste
        </ion-button>
    </div>

    <ion-list *ngIf="!errorBol">
        <ion-list-header>
            <ion-label><strong>Mes produits favoris :</strong></ion-label>
        </ion-list-header>
        <ion-item *ngFor="let orderLine of orderLineList">
            <ion-thumbnail (click)="createOrderLineDetails(orderLine)" slot="start">
                <span *ngIf="orderLine.article.articleImage != undefined && orderLine.article.articleImage.image != undefined; else emptyImage ">
                    <img src="{{orderLine.article.articleImage.image}}" alt="article picture"/>
                </span>
                <ng-template #emptyImage><img src="assets/icon/logo-default.png" alt="not found"/></ng-template>
            </ion-thumbnail>
            <button (click)=createOrderLineDetails(orderLine)>
                <ion-label><small>{{orderLine.article.reference}}</small></ion-label>
                {{orderLine.article.label | slice: 0 : 25}}
            </button>
            <span slot="end">{{orderLine.article.unitPrice | number:'1.2-2'}} €</span>
            <ion-select (ionChange)="onChangeOrderLine($event, orderLine)" interface="popover" slot="end"
                        value="{{orderLine.quantity}}">
                <ion-item *ngFor="let chiffre of possibleQuantities">
                    <ion-select-option value="{{chiffre}}"> {{chiffre}} </ion-select-option>
                </ion-item>
            </ion-select>
        </ion-item>
    </ion-list>
</ion-content>
