<app-header></app-header>
<ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button class="backbutton" default-href="/" icon="chevron-back-outline"></ion-back-button>
    </ion-buttons>
    {{order.orderNumber | uppercase}}
</ion-toolbar>
<ion-content class="ion-padding">
    <ion-item *ngFor="let orderLine of order.orderLines">
        {{orderLine.article.label + ' x' + orderLine.quantity}}
        <div class="green" slot="end">
            {{orderLine.article.unitPrice * orderLine.quantity |number : '1.2-2'}}
        </div>
    </ion-item>
    <div class="bottom">
        <div *ngIf="total > 250; else fraisLivraison">
            TOTAL HT : <span> <b>{{total |number : '1.2-2'}}</b> €</span>
        </div>
        <ng-template #fraisLivraison>
            <p>Frais de livraison pour commande < à 250€ : <b class="green">20€</b></p>
            <p>Total HT : <span> <b>{{total + 20 |number : '1.2-2'}}</b> €</span></p>
        </ng-template>
        <div>
            <ion-button (click)="reorder()" color="success" size="small">Commander à nouveau</ion-button>
            <ion-button (click)="alertCBPapiers()" *ngIf="!canEdit"> Contacter CBPapiers</ion-button>
        </div>
        <div *ngIf="canEdit">
            <div *ngIf="!order.isCancelled">
                <span> TEMPS RESTANT {{calculateElapsedTime().hours }}h{{calculateElapsedTime().minutes }}
                    POUR : </span>
                <div>
                    <ion-button (click)="alertConfirm()" color="danger" fill="solid" size="small">Annuler</ion-button>
                    <ion-button (click)="editOrder()" color="warning" fill="solid" routerLink="/nav/article"
                                size="small">Editer
                    </ion-button>
                </div>
            </div>

        </div>
    </div>
</ion-content>
